.container{
    display: flex;
    flex-direction: column;
    
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    background: #464646;
    border-radius: 8px;
    align-items: center;
    position: absolute;
    bottom: 1rem;
    margin-left: 2.5rem;

}



.title{ 
    color: #B0B0B0;
    font-family: 'Poppins';
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

