.outer{
    margin-left: 3rem;
    padding-top: 1rem;

   
}
.spanOuter{
    background-color: #212529;
    width: 10vw;
    height: 10vw;
    border-radius: 8px;
    flex-direction: column;
    border-left: 10px solid #64dfdf;
    margin-bottom: 1rem;
    margin-right: 0rem;
}

.time{
    font-family: 'Poppins';
    font-weight: 300;
    color: #adb5bd;
    margin-left: -3rem;
    
    
}

.titleHolder{
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    color:white;
    
   

}
.mainTitle{
    margin-left:-0.5rem ;
    font-weight: 600;

}
.subTitle{
    margin-left:-2.9rem ;
    color: grey;
}

.imgOuter{
    margin-top: 0.4rem;
    margin-left: 2.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0.6rem;
  
}
.add{
   width: 2.5vw;
   height: 2.5vw;
}

.reduce{
    width: 2.5vw;
    height: 2.5vw;
}

.items{
    font-weight: 400;
    font-family: 'Poppins';
    font-size: 1.75vw;
    color: white;

}